body {
  font-size: large;
}
.container {
  width: 80%;
  margin: auto;
}
h1 {
  background: #54e545;
  padding: 15px;
  text-align: center;
}

footer p {
  text-align: center;
  font-weight: bold;
  color: black;
}
footer {
  background: #ebeeee;
  height: 20px;
}
